:root {
  --tuec-base: #f7ba01;
  --tuec-primary: #daa174;
  --tuec-light: #ffffff;
  --tuec-red: #f70000;
  --tuec-success: #398f14;
  --tuec-success-bg: #d4ffe7;
  --tuec-success-border: #b5fdb0;
  --tuec-warning: #c28e00;
  --tuec-warning-bg: #fffcf2;
  --tuec-warning-border: #faeecf;
  --tuec-red-color: #ef262c;
  --tuec-red-bg: #ffdbdc;
  --tuec-red-border: #ffbfc1;
  --tuec-info: #1e73be;
  --tuec-info-bg: #daedfd;
  --tuec-info-border: #b0daff;
  --tuec-dark: #060606;
  --tuec-black: rgb(125, 125, 125);
  --tuec-dark-soft: #7d7d7d;
  --tuec-dark-border: #363636;
  --tuec-gray: #e2e2e2;
  --tuec-gray-dark: #7a7a7a;
  --tuec-gray-soft: #f8f9fa;
  --tuec-gray-softer: #f7f7f8;
  --tuec-green: #599078;
  --tuec-green-soft: #C0F0DC;
  --tuec-purple: #6C5EBC;
  --tuec-purple-soft: #D8D2FF;
  --tuec-yellow: #EFDE35;
  --tuec-yellow-soft: #FFFDA5;
  --tuec-brown: #ECDBBA;
  --tuec-blue: #002597;
  --tuec-blue-soft: #B5C7FF;
  --tuec-blue-dark: #011962;
  --tuec-bg-soft: #f5f4ee;
  --tuec-border: #f0f0f1;
  --tuec-dark-border: #363636;
  --tuec-border-radius: 4px;
  --tuec-gradient-1: linear-gradient(45deg, rgb(239, 35, 60) 0%, rgb(244, 113, 3) 100%);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-01.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold-02.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light-08.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Thin-13.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium-11.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Italic-03.ttf") format("truetype");
  font-weight: 400; /* same weight as normal */
  font-style: italic;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-weight: 400;
  outline: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000000;
}

b, strong {
  font-weight: 500;
  color: var(--tuec-black);
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 60px;
}
@media (max-width: 730px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }
}
.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 20px;
}
@media (max-width: 500px) {
  .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#hero_banner {
  margin-bottom: 10px;
}
#hero_banner .bg {
  background-color: #4398EF;
  border: 1px solid #707070;
  padding: 5px 20px 0;
}
#hero_banner .breadcrumbs {
  font-size: 14px;
  color: #FFFFFF;
}
#hero_banner h2 {
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 500;
}
@media (max-width: 1400px) {
  #hero_banner h2 {
    font-size: 34px;
  }
}
@media (max-width: 730px) {
  #hero_banner h2 {
    font-size: 24px;
  }
}
#hero_banner a {
  background-color: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 13px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  padding: 5px 40px;
}
@media (max-width: 1400px) {
  #hero_banner a {
    font-size: 16px;
  }
}
@media (max-width: 730px) {
  #hero_banner a {
    font-size: 16px;
  }
}

#description {
  margin-bottom: 60px;
}
#description .detail {
  display: none;
}
#description.active .term-description-toggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#description.active .detail {
  display: block;
}
#description .bg {
  background-color: #DFF1FD;
  padding: 40px;
  position: relative;
}
#description .term-description-toggle {
  background: url(../images/expand.png) center no-repeat;
  border: none;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 8px;
  width: 25px;
  cursor: pointer;
}
#description .term-description-toggle .screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important;
}
#description p {
  color: #505454;
  font-size: 20px;
  font-style: italic;
}
@media (max-width: 1400px) {
  #description p {
    font-size: 20px;
  }
}
@media (max-width: 730px) {
  #description p {
    font-size: 16px;
  }
}

#shop_section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#shop_section .row {
  gap: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
#shop_section .left {
  width: 20%;
}
#shop_section .left .sidebar_title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
#shop_section .left .select2-container {
  width: 100% !important;
}
#shop_section .left .select2-container span {
  font-size: 16px;
  color: #666666;
}
#shop_section .left .shop-widget-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
#shop_section .left .shop-widget-title .widget-title {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
#shop_section .left .shop-widget-title .widget-toggle {
  width: 25px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: #f5f4ee;
  border-radius: 30px;
  letter-spacing: -1px;
}
#shop_section .left .shop-widget-title .widget-toggle::before {
  content: "";
  width: 8px;
  height: 2px;
  background-color: #000000;
}
#shop_section .left .shop-widget-title .widget-toggle.active::before {
  content: "";
  width: 8px;
  height: 2px;
  background-color: #000000;
}
#shop_section .left .shop-widget-title .widget-toggle.active::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 2px;
  background-color: #000000;
}
#shop_section .left .widget {
  margin-bottom: 40px;
}
#shop_section .left .widget .list-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#shop_section .left .widget .list-item a, #shop_section .left .widget .list-item span {
  text-decoration: none;
  font-size: 16px;
  color: #666666;
}
#shop_section .left .widget.colors ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#shop_section .left .widget.colors a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#shop_section .left .widget.rating a {
  width: 30px;
  height: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#shop_section .left .widget.contacts {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 30px;
}
#shop_section .left .widget.contacts span {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6f6e;
}
#shop_section .left .widget.contacts h4 {
  font-family: "Helvetica", Sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}
#shop_section .left .widget.contacts h4 a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  font-weight: inherit;
}
#shop_section .right {
  width: 80%;
}
#shop_section .right .banner {
  margin-bottom: 40px;
  padding: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(https://placehold.co/1200x400);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://placehold.co/1200x400);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#shop_section .right .banner h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}
#shop_section .right .banner p {
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}
#shop_section .right .banner a {
  text-decoration: none;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin: 5px;
}
#shop_section .right .banner .left_btn {
  color: black;
  border: 2px solid #ffdc1f;
  background-color: #ffdc1f;
}
#shop_section .right .banner .right_btn {
  color: white;
  border: 2px solid white;
  background-color: transparent;
}
#shop_section .right .tuec-shop-fast-filters {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
}
#shop_section .right .fast-filters-label {
  min-width: 95px;
}
#shop_section .right .tuec-fast-filters-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2px;
  margin-right: 2px;
}
#shop_section .right .tuec-fast-filters-list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 2px;
  line-height: 1;
  position: relative;
}
#shop_section .right .tuec-fast-filters-list li svg {
  margin-right: 10px;
  max-width: 17px;
  max-height: 17px;
}
#shop_section .right .tuec-fast-filters-list li a {
  padding: 5px 20px;
  border: 1px solid #f0f0f1;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  min-height: 35px;
}
#shop_section .right .tuec-fast-filters-list:not(.has-filter) .remove-fast-filter a {
  display: none;
}
#shop_section .right .tuec-fast-filters-list .remove-fast-filter.active a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#shop_section .right .tuec-fast-filters-list li:not(:last-child) {
  margin-right: 10px;
}
#shop_section .right .tuec-fast-filters-list li:hover > a,
#shop_section .right .tuec-fast-filters-list .remove-fast-filter.active > a {
  color: white;
  background-color: black;
  border-color: black;
}
#shop_section .right .tuec-fast-filters-list.has-filter li:not(.active) {
  display: none;
}
#shop_section .right .tuec-fast-filters-list.has-filter li.show-always {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#shop_section .right .tuec-fast-filters-list.has-filter.filters-first,
#shop_section .right .show-always-stock-sale .tuec-fast-filters-list.filters-first {
  margin-right: 20px;
}
#shop_section .right .tuec-shop-fast-filters .tuec-fast-filters-list li.show-always,
#shop_section .right .tuec-shop-fast-filters .tuec-fast-filters-list.has-filter li.show-after-filter,
#shop_section .right .tuec-fast-filters-list.has-filter ul.tuec-fast-filters-submenu li,
#shop_section .right .tuec-fast-filters-list.has-filter li.fast-filters-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#shop_section .right .tuec-fast-filters-list.has-filter li:not(.remove-fast-filter).active > a,
#shop_section .right .tuec-fast-filters-list.has-filter li.active .tuec-fast-filters-submenu li.active > a {
  color: var(--tuec-warning);
  background-color: var(--tuec-warning-bg);
  border-color: var(--tuec-warning-border);
}
#shop_section .right .tuec-fast-filters-list li:not(.remove-fast-filter) .remove-filter {
  background-color: var(--tuec-warning-bg);
}
#shop_section .right .tuec-fast-filters-list li:not(.remove-fast-filter) .remove-filter:before,
#shop_section .right .tuec-fast-filters-list li:not(.remove-fast-filter) .remove-filter:after {
  background-color: var(--tuec-warning) !important;
}
#shop_section .right .tuec-fast-filters-submenu {
  position: absolute;
  padding: 10px;
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #f0f0f1;
  border-radius: var(--tuec-border-radius);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: 0;
  display: none;
  visibility: hidden;
  z-index: 1;
}
#shop_section .right .tuec-has-submenu:hover > .tuec-fast-filters-submenu {
  opacity: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  visibility: visible;
}
#shop_section .right .tuec-fast-filters-list .tuec-fast-filters-submenu li {
  margin: 0;
}
#shop_section .right .tuec-fast-filters-list .tuec-fast-filters-submenu li:not(:last-child) {
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  #shop_section .right .tuec-shop-fast-filters {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #shop_section .right .tuec-fast-filters-list li a {
    padding: 5px 10px;
    font-size: 10px;
  }
  #shop_section .right .tuec-fast-filters-list li:not(:last-child) {
    margin-right: 0px;
  }
  #shop_section .right .tuec-fast-filters-list.has-filter.filters-first,
  #shop_section .right .show-always-stock-sale .tuec-fast-filters-list.filters-first {
    margin-right: 0;
  }
}